.logoutbtn{
    position: absolute;
    right: 0;
    width: 100px;
    margin-right: 5px;
    margin-top: 5px;
}
.threads{
    width: 80%;
    border: 5px solid gray;
    border-radius: 5px;
    margin-top: 50px;
    margin: 50px auto 20px;
    padding: 10px;
}
.decolink{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    width: 130px;
}

.decolink:hover {
    color: aqua;
}

.logo{
    width: 300px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
