.newbtn{
    float: left;
    margin-left: 45%;
    width: 100px;
    margin-top: 5px;
}

.posts{
    width: 80%;
    border: 5px solid gray;
    border-radius: 5px;
    margin-top: 50px;
    margin: 50px auto 20px;
    padding: 10px;
}
